nodered/sample_node
[{"id":"a64ac283.4db2c8","type":"udp in","z":"6eb1409a.7cb388","name":"","iface":"","port":"3500","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":88,"y":183,"wires":[["41385518.ccff7c"]]},{"id":"41385518.ccff7c","type":"json","z":"6eb1409a.7cb388","name":"","pretty":false,"x":182,"y":262,"wires":[["193cd9c3.f0de5e"]]},{"id":"17e95d88.30c622","type":"ui_gauge","z":"6eb1409a.7cb388","name":"","group":"118c2111.56b637","order":0,"width":"0","height":"0","gtype":"gage","title":"Forbruk","label":"W","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":948,"y":30,"wires":[]},{"id":"193cd9c3.f0de5e","type":"switch","z":"6eb1409a.7cb388","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"AMS","vt":"str"},{"t":"neq","v":"AMS","vt":"str"}],"checkall":"true","outputs":2,"x":327,"y":263,"wires":[["3e85a87f.b0a81"],[]]},{"id":"3e85a87f.b0a81","type":"switch","z":"6eb1409a.7cb388","name":"","property":"payload.data","propertyType":"msg","rules":[{"t":"eq","v":"power","vt":"str"},{"t":"eq","v":"amp1","vt":"str"},{"t":"eq","v":"amp2","vt":"str"},{"t":"eq","v":"amp3","vt":"str"},{"t":"eq","v":"vol1","vt":"str"},{"t":"eq","v":"vol2","vt":"str"},{"t":"eq","v":"vol3","vt":"str"},{"t":"eq","v":"used","vt":"str"}],"checkall":"true","outputs":8,"x":491,"y":257,"wires":[["7c542ad7.2bce0c"],["d5828285.01215"],["753d5351.37bb2c"],["64387ed4.51b128"],["4a40537c.e16e04"],["6e246726.50e16"],["e69eb4f4.b6fab"],["50744ef6.a31bf8"]]},{"id":"460c7d25.399dd4","type":"ui_gauge","z":"6eb1409a.7cb388","name":"","group":"71001e7a.9d458","order":0,"width":"3","height":"3","gtype":"gage","title":"Fase 1","label":"A","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":948,"y":183,"wires":[]},{"id":"4a03b25f.4a41f4","type":"ui_gauge","z":"6eb1409a.7cb388","name":"","group":"71001e7a.9d458","order":0,"width":"3","height":"3","gtype":"gage","title":"Fase 2","label":"A","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":948,"y":223,"wires":[]},{"id":"738791d6.1aa81","type":"ui_gauge","z":"6eb1409a.7cb388","name":"","group":"71001e7a.9d458","order":0,"width":"3","height":"3","gtype":"gage","title":"Fase 3","label":"A","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":948,"y":263,"wires":[]},{"id":"da4df59d.4051b","type":"ui_gauge","z":"6eb1409a.7cb388","name":"","group":"b99be466.2d017","order":0,"width":"3","height":"3","gtype":"gage","title":"Fase 1","label":"V","format":"{{value}}","min":"210","max":"250","colors":["#ffb500","#00b400","#ffb400"],"seg1":"","seg2":"","x":948,"y":303,"wires":[]},{"id":"7c542ad7.2bce0c","type":"function","z":"6eb1409a.7cb388","name":"","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":124,"wires":[["17e95d88.30c622","8d099cea.62d42"]]},{"id":"d5828285.01215","type":"function","z":"6eb1409a.7cb388","name":"","func":"msg.payload = msg.payload.value;\nmsg.topic=\"i1\";\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":170,"wires":[["460c7d25.399dd4"]]},{"id":"753d5351.37bb2c","type":"function","z":"6eb1409a.7cb388","name":"","func":"msg.payload = msg.payload.value;\nmsg.topic=\"i2\";\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":212,"wires":[["4a03b25f.4a41f4"]]},{"id":"64387ed4.51b128","type":"function","z":"6eb1409a.7cb388","name":"","func":"msg.payload = msg.payload.value;\nmsg.topic=\"i3\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":257,"wires":[["738791d6.1aa81"]]},{"id":"4a40537c.e16e04","type":"function","z":"6eb1409a.7cb388","name":"","func":"msg.payload = msg.payload.value;\nmsg.topic=\"v1\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":299,"wires":[["da4df59d.4051b"]]},{"id":"6e246726.50e16","type":"function","z":"6eb1409a.7cb388","name":"","func":"msg.payload = msg.payload.value;\nmsg.topic=\"v2\";\nreturn msg;","outputs":1,"noerr":0,"x":712,"y":342,"wires":[["fbbfbb5.c98ad48"]]},{"id":"e69eb4f4.b6fab","type":"function","z":"6eb1409a.7cb388","name":"","func":"msg.payload = msg.payload.value;\nmsg.topic=\"v3\";\nreturn msg;","outputs":1,"noerr":0,"x":711,"y":382,"wires":[["d27a103b.2c3f58"]]},{"id":"fbbfbb5.c98ad48","type":"ui_gauge","z":"6eb1409a.7cb388","name":"","group":"b99be466.2d017","order":0,"width":"3","height":"3","gtype":"gage","title":"Fase 2","label":"V","format":"{{value}}","min":"210","max":"250","colors":["#ffb500","#00b400","#ffb400"],"seg1":"","seg2":"","x":948,"y":343,"wires":[]},{"id":"d27a103b.2c3f58","type":"ui_gauge","z":"6eb1409a.7cb388","name":"","group":"b99be466.2d017","order":0,"width":"3","height":"3","gtype":"gage","title":"Fase 3","label":"V","format":"{{value}}","min":"210","max":"250","colors":["#ffb500","#00b400","#ffb400"],"seg1":"","seg2":"","x":948,"y":383,"wires":[]},{"id":"8d099cea.62d42","type":"ui_chart","z":"6eb1409a.7cb388","name":"","group":"118c2111.56b637","order":0,"width":"0","height":"0","label":"Siste dag","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":951.5,"y":75,"wires":[[],[]]},{"id":"50744ef6.a31bf8","type":"function","z":"6eb1409a.7cb388","name":"","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":434,"wires":[["554826ee.5fed28"]]},{"id":"554826ee.5fed28","type":"ui_text","z":"6eb1409a.7cb388","group":"118c2111.56b637","order":0,"width":0,"height":0,"name":"","label":"Brukt","format":"{{msg.payload}} kWh","layout":"row-spread","x":937.5,"y":435,"wires":[]},{"id":"118c2111.56b637","type":"ui_group","z":"","name":"Forbruk","tab":"8d0c5436.2babc","order":1,"disp":true,"width":"8"},{"id":"71001e7a.9d458","type":"ui_group","z":"","name":"Strøm","tab":"8d0c5436.2babc","order":2,"disp":true,"width":"9"},{"id":"b99be466.2d017","type":"ui_group","z":"","name":"Spenning","tab":"8d0c5436.2babc","order":3,"disp":true,"width":"9"},{"id":"8d0c5436.2babc","type":"ui_tab","z":"6eb1409a.7cb388","name":"Strømmåler","icon":"dashboard"}]